{% extends 'base.html.twig' %}

{% block title %}
    List album à artiste
{% endblock %}

{% block body %}
    {#
    <h1>
        Album de {{ artist.name }}
    </h1>


        <ul>
            <li>
                {{ album.artist.name}}
            </li>
        </ul>
    #}
    {%  for art in artist %}

    <h1>
        Album de {{ art.name }}
    </h1>

    {% if art.albums.count !=0 %}
    <ul>
        {% for alb in art.albums.values %}
        <li>
            {{ alb.name  }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <ul>
            <li > Aucun album </li>
        </ul>
    {% endif %}
    {% endfor %}
    {#
    <ul>
        {% if artist.albums  %}
            <li > Aucun album </li>

        {% else %}
            {% for album in artist.albums %}
                <li > <a href="{{ path("tracks", {id: albums.id}) }}">{{ album.name }} </a></li>
            {% endfor %}
        {% endif %#}
{% endblock %}